.hover-animation{
  animation: dropdown 0.5s 1 ease-out forwards;
}



.hover-animation .li-hover{
  opacity: 0;
  animation: view 1s ease-out 0.4s 1 forwards;
}


.hover-animation .li-hover:hover{
border-left: 3px solid white;
}


.font-15{
  font-size: 15px;
}

.font-13{
  font-size: 13px;
}

.font-10{
  font-size: 10px;
}


@keyframes dropdown {
  0%{
    transform: translateY(-5px);
    opacity: 0;
    height: 0vh;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
    height: 26vh;
  }
  }

  @keyframes view {
    0%{

      opacity: 0;
  color: white;
    }
    100%{

      opacity: 1;
  color: white;
    }
    }


    .online-symbol{
      animation: fade 0.7s infinite;
        border-radius: 50%;
      }

      @keyframes fade{
      0% {
        background: rgb(192, 245, 159);
      }
      50% {
        background: rgb(38, 96, 2);
      }
      100%{
        background: rgb(192, 245, 159);
      }
      }


      .class-media-navbar {
        width: 235px;
    }

    @media screen and (max-width: 640px) {
        .class-media-navbar {
            width: 126px;
            margin-top: -9px;
            
        }
    }
