

    <!-- <h2 class="mb-4 text-2xl font-bold text-center text-gray-500" *ngIf="!isSignupOpen">Sign In</h2>
    <h2 class="mb-4 text-2xl font-bold text-center text-gray-700" *ngIf="isSignupOpen">Sign Up</h2> -->

    <!-- Sign-In Form -->
    <div class="flex items-center justify-center min-h-screen bg-gray-100">
      <div class="w-full max-w-md p-8 bg-white rounded shadow-lg">
        <!-- Sign-In / Login Form -->
        <div *ngIf="!isSignupOpen" class="flex items-center justify-center">
          <div class="w-full max-w-md p-6 bg-white rounded shadow-lg">
            <h3 class="mb-4 text-xl font-semibold text-center text-gray-700">Sign In</h3>
            <form (ngSubmit)="onLogin()">
              <div class="mb-4">
                <input type="email" [(ngModel)]="loginData.email" name="email" class="w-full px-3 py-2 border rounded" placeholder="Enter Email" required />
              </div>
              <div class="mb-4">
                <input type="password" [(ngModel)]="loginData.password" name="password" class="w-full px-3 py-2 border rounded" placeholder="Enter Password" required />
              </div>
              <button type="submit" class="w-full px-4 py-2 text-white bg-amber-500 rounded hover:bg-amber-600">
                Log In
              </button>
              <p class="mt-4 text-sm text-center">
                Don't have an account? <button class="text-amber-500 underline" (click)="toggleSignup()">Sign Up</button>
              </p>
            </form>
          </div>
        </div>

        <!-- Sign-Up Form -->
        <div *ngIf="isSignupOpen" class="fixed inset-0 flex items-center justify-center">
          <div class="w-full max-w-md p-6 bg-white rounded shadow-lg">
            <h3 class="mb-4 text-xl font-semibold text-center text-gray-700">Create an Account</h3>
            <form (ngSubmit)="onSignup()">
              <div class="mb-4">
                <input type="text" [(ngModel)]="signupData.name" name="name" class="w-full px-3 py-2 border rounded" placeholder="Enter your name" required />
              </div>
              <div class="mb-4">
                <input type="email" [(ngModel)]="signupData.email" name="email" class="w-full px-3 py-2 border rounded" placeholder="Enter Email" required />
              </div>
              <div class="mb-4">
                <input type="password" [(ngModel)]="signupData.password" name="password" class="w-full px-3 py-2 border rounded" placeholder="Enter Password" required />
              </div>
              <button type="submit" class="w-full px-4 py-2 text-white bg-amber-500 rounded hover:bg-amber-600">
                Sign Up
              </button>
              <p class="mt-4 text-sm text-center">
                Already have an account? <button class="text-amber-500 underline" (click)="toggleSignup()">Sign In</button>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
