
<div class="container ">


<div class="container-fluid flex justify-center items-center  ">
  <!-- drawer init and show -->


  <div class="  px-3 w-screen mx-5 rounded flex justify-center py-6 items-center ">
   <h1 class="text-2xl font-bold text-gray-500">DASHBOARD</h1>
  </div>
  </div>



  <!-- columns -->

  <div class="container mx-auto p-4 ">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
      <!-- Column 1 -->
      <div class="p-4 rounded-lg shadow-lg flex flex-col items-center h-60 gap-3 justify-center border hover:bg-slate-100  text-gray-500 ">
       <i class="bi bi-people-fill text-6xl text-amber-400"></i>
        <h1 class=" text-2xl font-bold sm:text-3xl ">2500</h1>
        <p class=" sm:text-2xl font-bold">WELCOME</p>
      </div>
      <!-- Column 2 -->
      <div class="p-4 rounded-lg shadow-lg flex flex-col justify-center items-center h-60 gap-3 border    text-gray-500">
        <i class="bi bi-list-task text-6xl text-blue-400"></i>
         <h1 class="text-2xl font-bold sm:text-3xl ">6</h1>
         <p class="  sm:text-2xl font-bold">All Tasks</p>
       </div>
      <!-- Column 3 -->
      <div class="p-4 rounded-lg shadow-lg flex flex-col justify-center items-center h-60 gap-3  border text-gray-500">
        <i class="ri-folder-5-fill text-6xl text-green-700"></i>
         <h1 class="text-2xl font-bold sm:text-3xl ">3</h1>
         <p class="  sm:text-2xl font-bold">Projects</p>
       </div>
      <!-- Column 4 -->
      <div class="p-4 rounded-lg shadow-lg flex flex-col justify-center items-center h-60 gap-3  border text-gray-500">
        <i class="bi bi-chat-fill text-6xl text-pink-700"></i>
         <h1 class="text-2xl font-bold sm:text-3xl ">0</h1>
         <p class="  sm:text-2xl font-bold">Meetings</p>
       </div>
       <div class="p-4 rounded-lg shadow-lg flex flex-col justify-center items-center h-60 gap-3  border  text-gray-500">
      <i class="ri-user-fill text-6xl text-fuchsia-600"></i>
         <h1 class="text-2xl font-bold sm:text-3xl ">3 </h1>
         <p class="  sm:text-2xl font-bold">Users</p>
       </div>
    </div>
  </div>


  <footer class="">
    <div class="text-center flex flex-col gap-3  bg-gray-500 py-6">
      <p class=" text-gray-50">Copyright © 2024 Designed by ARRC TECHNOLOGY All rights reserved.</p>
      <p class=" text-gray-50">Distributed By: ARRC</p>
    </div>
  </footer>
</div>
